h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

h1 {
  height: 50px;
  width: 100%;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  background: #6B8E23;
  padding-top: 10px;
  text-align: center;
  vertical-align:middle;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}

form {
  box-sizing: border-box;
  width: 500px;
  margin: 40px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  h1 {
    box-sizing: border-box;
    padding: 20px;
  }
}

input {
  margin: 40px 25px;
  width: 450px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #808000;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #6B8E23 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: darken(#6B8E23, 20%);
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: #6B8E23;
      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

input.button {
  border: none;
  background: #6B8E23;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
}

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: inline-block;
  margin: 50px calc(50% - 21px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  i {
    margin-right: 20px;
    transition: margin-right 0.2s ease;
  }
  &:hover {
    width: 134px;
    transform: translateX(-50px);
    i {
      margin-right: 10px;
    }
  }
}

.message{
  font-size: 20px;
  font-weight: 700px;
  font-family:'ヒラギノ角ゴ Std W8';
  color: #990000;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:600px) {
  h1 {
    font-size: 20px;
  }
  form{
    width:300px;
  }
  input{
    width:250px;
  }
  .message{
    font-size:12px;
  }
}
