*{
  margin: 0px;
  padding: 0px;
}

body {
    font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
}
/* navigation bar */
nav {
    background-color: #B8860B;
    font-weight: 800;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 13px;
}
nav ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 6px;
    list-style-type: none;
}
nav li.hamburger {
  display: none;
}
nav a {
    display: block;
    border-radius: 4px;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
}
nav li.logo{
  margin-right: auto;
}
nav li a:hover {
    background-color: #8cae47;
}

.box {
    width: 300px;
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    border-radius: 20px 20px 0 0;
}
.box .box-title {
    font-size: 28px;
    background: #555555;
    padding: 14px;
    text-align: center;
    color: #FFF;
    font-family: 'Phosphate',sans-serif;
    letter-spacing: 0.05em;
    border-radius: 20px 20px 0 0;
}
.box .container{
  display: flex;
  flex-direction: column;
}
.box .item2 {
    padding: 15px 20px;
    margin: 0;
    text-align: center;
    border-bottom: solid 2px #808080;
}

.box .item {
    padding: 15px 20px;
    margin: 0;
    text-align: center;
    border-bottom: dashed 2px #808080;
}

.b_container {
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  text-align: right;
  padding-top: 20px;
}
.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.check ul {
  border: solid 4px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}
.check ul li {
  margin-left:6%;
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}
.check ul li:before {/*リストのアイコン*/
  margin-left:5%;
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
}
.check ul li:after {/*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: "Font Awesome 5 Free",'Avenir','Arial',sans-serif;
  position: absolute;
  font-size:24px;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f1b9  CAR MENTAINANCE';/*アイコンコード＋文字*/
  letter-spacing: 0.05em;/*字間*/
  }

  .daily-check ul {
    border: solid 4px #ffb03f;
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width:80%;
  }
  .daily-check ul li {
    margin-left:6%;
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;
  }
  .daily-check ul li:before {/*リストのアイコン*/
    margin-left:5%;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    position: absolute;
    left : 1em; /*左端からのアイコンまでの距離*/
    color: #ffb03f; /*アイコン色*/
  }
  .daily-check ul li:after {/*タブ*/
    background: #ffb03f;
    color: #fff;
    font-family: "Font Awesome 5 Free",'Avenir','Arial',sans-serif;
    position: absolute;
    font-size:24px;
    left: -2px;
    bottom: 100%;
    padding: 1px 7px;
    content: '\f1b9  CAR MAINTENANCE';/*アイコンコード＋文字*/
    letter-spacing: 0.05em;/*字間*/
    }

    table{
      font-family: "Font Awesome 5 Free",'Avenir','Arial',sans-serif;
      border-collapse:collapse;
      margin:0 auto;
    }
    td,th{
      text-align: center;
      padding:5px 10px;
    }
    th{
      border-left:2px solid #FFC7AF;
      border-right:2px solid #FFC7AF;
      color:#fff;
      background:#FF8856;
      font-size:10px;
    }
    table tr:nth-child(odd){
      background:#FFDBC9;
    }
    td{
      font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro"; font-weight: bold;
      font-size: 9px;
      text-align: center;
      border-left:2px solid #FFC7AF;
      border-right:2px solid #FFC7AF;
      border-bottom:2px solid #FFC7AF;
    }

.sub_th{
  background:#FFAD90;
  color:#FFF;
  border:2px solid #FFC7AF;
}

h2.topic{
font-size:16px;
position: relative;
width: 60%;
background: #f4f4f4;
padding: 2px 5px 2px 20px;
color: #474747;
border-radius: 0 10px 10px 0;
}
h2.topic:before{
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  display: inline-block;
  line-height: 40px;
  position: absolute;
  padding: 0em;
  color: white;
  background: #ff6363;
  font-weight: normal;
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  left: -1.0em;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
}

.topic{
  margin-left:20%;
  margin-top: 5%;
  margin-bottom: 3%;
}

/* レスポンシブ対応 */
@media only screen and (min-width:600px) {
  nav ul {
      font-size:22px;
      display: flex;
      flex-flow: row;
      margin: 0;
      padding: 6px;
      list-style-type: none;
  }
  nav li.logo{
    margin-right: auto;
  }
  nav li.hamburger {
    display: none;
  }
  .box{
    width:600px;
  }
  td,th{
    padding:15px 50px;
  }
  th{
    font-size:20px;
  }
  td{
    font-size:16px;
  }
  h2.topic{
    font-size:26px;
  }
  h2.topic:before{
    width:40px;
    height:40px;
    line-height: 40px;
}

}
